@using OrnekSite2.Entity
@model IEnumerable<Product>

<h3>Popüler Ürünler</h3>
<ul class="nav nav-list promowrapper">
    @foreach (var item in Model)
    {
        <li>
            <div class="thumbnail">
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                <img src="/Site/shop-cart/assets/img/@item.Image" alt="bootstrap ecommerce templates">
                <div class="caption">
                    <h4><a class="defaultBtn" href="/Home/ProductDetails/@item.Id">Görüntüle</a> <span class="pull-right">@item.Price</span></h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
    }


</ul>
